@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
  --color-card: #1e293b;
  --color-card-foreground: #f8fafc;
  --color-border: #334155;
  --radius-lg: 1rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
